*{
  margin: 0%;
  padding: 0%;
}
body{
 
  background-color: rgb(23, 27, 32);
}
#header{
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.header{
  margin: 15px;
   padding: 5px;  
   text-decoration: none;
  color: whitesmoke;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  word-spacing: 15px;
 
}

.header:hover{
  font-weight: bolder;
  color: rgb(5, 5, 5);
  text-shadow: 0 5px 5px rgb(229, 238, 240);
}
.hcont{
   margin: 15px;
   padding: 5px; 
    
}
.hcont a{
  
  text-decoration: none;
  color: whitesmoke;
  font-family: "Gill Sans", sans-serif;
}
.hcont:hover{
  border-radius: 7px;
  box-shadow: 0 0 5px whitesmoke;
  text-shadow: 0 0 10px whitesmoke;  
}
.title{
  width: 100%;
  color: whitesmoke;
  font-size: 90px;
  font-family: fantasy;
  align-content: center;
   margin-top: -400px;
  z-index: 2;
   
}
.title div{
  display: flex;
  justify-content: center;

  padding: 20px;
  text-shadow:0 0 7px rgb(28 26 26);
  color: rgb(141 241 208);
 
}
#title :hover{
  font-size: 95px;
  text-shadow: 0 0 10px rgb(211, 223, 226);
  color: rgb(17, 16, 16);
}


.button{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(231, 217, 217);
  width: 200px;
  height: 50px;
  background: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 200px;
  z-index: 2;
  border-bottom-left-radius: 20px;
}
.button::before{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  animation: border-top-right 3s infinite alternate;
}
@keyframes border-top-right{
  0% {width: 0px; height:0px;}
  25% {width:200px; height:0px;}
  50% {width: 200px; height:48px;}
  100% {width:200px; height:48px;}
}
.button::after{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  animation: border-bottom-left 3s infinite alternate;
}
@keyframes border-bottom-left{
  0% {width: 0px; height:0px;}
  50% {width:0px; height:0px;}
  75% {width: 200px; height:0px;}
  100% {width:200px; height:48px;}
}
@keyframes border-bottom-left{
  0% {width: 0px; height:0px; opacity: 0;}
  50% {width:0px; height:0px;opacity: 0;}
  50.1% {width:0px; height:0px;opacity: 1;}
  75% {width: 200px; height:0px;opacity: 1;}
  100% {width:200px; height:48px;opacity: 1;}
}
.button:hover{
  box-shadow: 0 0 15px wheat;
}